<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
						<li><a href="/"><img src="/images/logo.png" alt="Logo" width="150" height="150"></a></li> 
        		<li><a href="/">Home</a></li>
	        	<li><a href="/tournaments">Tournaments</a></li>
	        	<li><a href="/about">About Us</a></li>
        		<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			{{ content }}
			</div>
			<footer>
			    <ul>
			        <li><a href="mailto:kontrolesportscontact@gmail.com"><img src="/images/mail.png" alt="E-Mail" width="35" height="35" onmouseover="this.src='images/mailh.png';" onmouseout="this.src='images/mail.png';"></a></li>
			        <li><a href="https://twitter.com/KontrolEsports"><img src="/images/twitter.png" alt="Twitter" width="35" height="35" onmouseover="this.src='images/twitterh.png';" onmouseout="this.src='images/twitter.png';"></a></li>
			        <li><a href="http://discord.me/kontrolesports"><img src="/images/discord.png" alt="Discord" width="35" height="35" onmouseover="this.src='images/discordh.png';" onmouseout="this.src='images/discord.png';"></a></li>
			        <li><a href="http://twitch.tv/kontrolesports"><img src="/images/twitch.png" alt="Twitch" width="35" height="35" onmouseover="this.src='images/twitchh.png';" onmouseout="this.src='images/twitch.png';"></a></li>
			  </ul>
			</footer>
		</body>
	</html>
