<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
			<style>
						#brand-image
						{
								height: 50px;
								background-color: black;
						}
			</style>
		</head>
		<body>
			<nav>
	    		<ul>
						<a class="navbar-brand" href="/"><img id="brand-image" src="/images/logo.png" alt="Logo"></a>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/tournaments">Tournaments</a></li>
	        	<li><a href="/about">About Us</a></li>
        		<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			{{ content }}
			</div>
			<footer>
			    <ul>
			        <li><a href="mailto:kontrolesportscontact@gmail.com"><img src="/images/mail.png" alt="E-Mail" width="35" height="35" onmouseover="this.src='images/mailh.png';" onmouseout="this.src='images/mail.png';"></a></li>
			        <li><a href="https://twitter.com/KontrolEsports"><img src="/images/twitter.png" alt="Twitter" width="35" height="35" onmouseover="this.src='images/twitterh.png';" onmouseout="this.src='images/twitter.png';"></a></li>
			        <li><a href="http://discord.me/kontrolesports"><img src="/images/discord.png" alt="Discord" width="35" height="35" onmouseover="this.src='images/discordh.png';" onmouseout="this.src='images/discord.png';"></a></li>
			        <li><a href="http://twitch.tv/kontrolesports"><img src="/images/twitch.png" alt="Twitch" width="35" height="35" onmouseover="this.src='images/twitchh.png';" onmouseout="this.src='images/twitch.png';"></a></li>
			  </ul>
			</footer>
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
		</body>
	</html>
